{% extends 'base.html' %}
{% load template_filters %}
{% load static %}

{% block title %}PC List{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card col-md-8 offset-md-2 shadow-lg mb-5 bg-body rounded-bottom rounded-5">
    <div class="text-center card-title">
      <div class="p-4 bg-warning rounded-bottom rounded-5"></div>
    </div>
    <div class="card-body p-5">
      <div class="text-center h6">Available PCs</div>

      <div class="row justify-content-center text-center">
        {% for pc in available_pcs %}
          {% if forloop.counter0|divisibleby:3 %}
            <div class="col-3 col-md-2 col-sm-2 col-xs-2 mb-4"> <!-- 5 equal columns (12/5 ≈ 2.4, use col-md-2 and centering) -->
          {% endif %}

              <div class="mb-2 pc-container text-black">
                <button class="pc-button {% if pc.booking_status == 'in_use' %}text-danger{% elif pc.booking_status == 'in_queue' %}text-warning{% endif %}" 
                  data-pc-id="{{ pc.id }}" data-pc-name="{{ pc.name }}" {% if pc.booking_status == 'in_use' or pc.booking_status == 'in_queue' %}disabled{% endif %}>
                  <i class="fa-solid fa-desktop" style="font-size: 1.7em;background: none;border: none;cursor: pointer;padding: 0px;"></i><br>
                  <span class="pc-name">{{ pc.name|get_int }}</span>
                </button>
              </div>

          {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div> <!-- close column after 3 PCs -->
          {% endif %}
        {% endfor %}
      </div>

      {% if is_paginated %}
      <nav class="mt-4" id="page-nav">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" id="pageNavPrev" href="?page={{ page_obj.previous_page_number }}">
                <i class="fa-solid fa-arrow-left-long"></i>
              </a>
            </li>
          {% endif %}
  
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" id="pageNavNext" href="?page={{ page_obj.next_page_number }}">
                <i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    
    <div id="control" class="container mb-4">
      <div class="row justify-content-center align-items-center">
        
        <!-- Left column: Legend -->
        <div id="legend" class="col-6 col-md-4 text-start">
          <span class="legend-item fs-6">
            <button style="border: none; background: none; cursor:default;" readonly>
              <i class="fa-solid fa-desktop"></i> <span style="color: black;">Available</span>
            </button>
          </span><br>
          <span class="legend-item fs-6">
            <button style="border: none; background: none; cursor:default; color: black;" readonly>
              <i class="fa-solid fa-desktop text-success"></i> Selected
            </button>
          </span><br>
          <span class="legend-item fs-6">
            <button style="border: none; background: none; cursor:default; color: black;" readonly>
              <i class="fa-solid fa-desktop text-warning"></i> In Queue
            </button>
          </span><br>
          <span class="legend-item fs-6">
            <button style="border: none; background: none; cursor:default; color: black;" readonly>
              <i class="fa-solid fa-desktop text-danger"></i> In Use
            </button>
          </span>
        </div>

        <!-- Right column: Next button -->
        <div class="col-6 col-md-4 text-center">
          <button class="reserve-next-button" hidden>next <i class="fa-solid fa-chevron-right"></i></button>
        </div>

      </div>

      <!-- Duration Modal -->
      <div class="modal fade" id="durationModal" tabindex="-1" aria-labelledby="durationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-3 shadow">
            <div class="modal-header">
              <h5 class="modal-title" id="durationModalLabel">SET TIME</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <div class="input-group justify-content-center" style="max-width:200px; margin:auto;">
                <button class="btn btn-outline-secondary" type="button" id="minusBtn">−</button>
                <input type="number" id="durationInput" class="form-control text-center" value="30" min="1" max="180">
                <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
              </div>
              <small class="text-muted">Duration in minutes</small>
              <P class="mark" style="font-size: xx-small;">Note: You can only use a PC for a maximum of 3 hours</P>
            </div>
            <div class="modal-footer">
              <input type="number" name="" id="pc_id" hidden>
              <button type="button" id="generate-qr-button" class="btn btn-success" data-reserve-url="{% url 'main_app:reserve-pc' %}">Generate QR Code</button>
            </div>
          </div>
        </div>
      </div>

      <!-- QR Code Modal -->
      <div class="modal fade" id="qrModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content rounded-3 shadow text-center">
            <div class="modal-header">
              <h5 class="modal-title">Your Reservation QR</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <img id="qrImage" src="" alt="QR Code" class="img-fluid mb-3">
              <span id="booking_id" hidden></span>
              <div>
                <small class="text-muted">Expires in <span id="qrCountdown">10:00</span></small>
              </div>
              <p style="font-size: x-small;">Note: <br>
                Use this QR code before it expires to confirm your booking.
                Confirming site is at the Ict desk info.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Remaining Time Modal -->
      <div class="modal fade" id="timeRemainingModal" tabindex="-1" aria-labelledby="timeRemainingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header bg-warning">
              <h5 class="modal-title" id="timeRemainingLabel">Booking Active</h5>
            </div>
            <div class="modal-body text-center bg-dark text-white ps-2 pt-10 pe-2 pb-10">
              <i class="fa-solid fa-desktop mb-2" style="font-size: xx-large;"></i>
              <p>Your booking is confirmed ✅</p>
              <p>Time remaining 
                <br> 
                <span class="fw-bold" id="timeRemaining"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
        
    </div>

  </div> <!-- end of card -->

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/reserve_pc.js' %}"></script>
{% endblock %}