{% extends "base.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block links %}
<style>
.level {
  background-color: black;
  border-radius: 8px;
  background-size: 4px;
}
.level.level-minor {
  color: yellow;
}

.level-moderate {
  color: orange;
}

.level-major {
  color: red;
}
#chatContainer {
  height: 400px;          /* fixed height */
  overflow-y: auto;       /* makes it scrollable */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 3px;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

/* Sender: left side */
.sender {
  background: #DCF8C6;
  align-self: flex-start;
}

/* Receiver: right side */
.receiver {
  background: #E5E5EA;
  align-self: flex-end;
}
</style>
{% endblock %}

{% block content %}
<div class="container pt-5 mt-2" id="user-activities-container" data-user-role="{{ request.user.profile.role }}">
  {% if request.user.profile.role == 'staff' %}
  <div class="row col-12 mb-3">
    <div class="col-md-6"></div>
    <div class="text-end col-md-6" id="violation-level-legend">
      <div class="bg-light p-2 bordered rounded-1 d-inline-block shadow">
        <h6 class="text-center">violation level</h6>
        <span class="me-2">minor <i class="fa-solid fa-circle shadow shadow level level-minor"></i></span>
        <span class="me-2">moderate <i class="fa-solid fa-circle shadow shadow level level-moderate"></i></span>
        <span class="me-2">major <i class="fa-solid fa-circle shadow shadow level level-major"></i></span>
      </div>
    </div>
  </div>
  {% endif %}

  <ul class="nav nav-tabs" id="myTab">
    {% if request.user.profile.role == 'staff' %}
    <li class="nav-item">
      <a class="nav-link active" id="tabHistory" data-bs-toggle="tab" href="#history">History</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" id="tabChat" data-bs-toggle="tab" data-current-user="{{ request.user.email }}" href="#chat">
        Chat 
        {% if unread_messages > 0 %}
        <span class="badge bg-danger rounded-pill">{{ unread_messages }}</span>
        {% endif %}
      </a>
    </li>
    {% if request.user.profile.role == 'staff' %}
    <li class="nav-item">
      <a class="nav-link" id="tabViolation" data-bs-toggle="tab" href="#violation">Violation</a>
    </li>
    {% endif %}
  </ul>

  <input type="hidden" name="active_tab" id="active_tab">
  <input type="hidden" name="active_div" id="active_div">

  <div id="history">
    <table class="table">
      <head>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>College</th>
          <th>Date</th>
          <th>PC</th>
          <th>Action</th>
        </tr>
      </head>
      <tbody>
        {% for activity in user_activities %}
        <tr>
          <td>{{ activity.user.get_full_name }}</td>
          <td>{{ activity.user.profile.school_id }}</td>
          <td>{{ activity.user.profile.college.name }}</td>
          <td>{{ activity.created_at }}</td>
          <td>{{ activity.pc.name }}</td>
          <td>
            <a href="#" class="btn btn-sm btn-success">View</a>
            <button type="button" class="btn btn-sm btn-danger suspend-button">Suspend</button>
          </td>
        </tr>

        <!-- Violation Modal -->
        <div class="modal fade" id="violationModal" tabindex="-1" aria-labelledby="violationModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content rounded-3 shadow">
              <div class="modal-header">
                <h5 class="modal-title" id="violationModalLabel">
                  Add more info
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="justify-content-center" style="max-width:200px; margin:auto;">
                  <div class="form-group mt-3">
                    <label for="violation-level" class="form-label">Level:</label>
                    <select id="violation-level" name="violation-level" class="form-control">
                      <option value="minor">Minor</option>
                      <option value="moderate">Moderate</option>
                      <option value="major">Major</option>
                    </select>
                  </div>
                  <div class="form-group mt-3">
                    <label for="reason-input" class="form-label">Description:</label>
                    <input type="text" id="reason-input" class="form-control">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="suspend-button-submit" class="btn btn-danger" 
                  data-suspend-url="{% url 'main_app:violation-suspend' pk=activity.pk %}">
                  Suspend
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="chat" hidden>
    <div class="col-md-2 mt-2 mb-2 d-flex">
        <input type="text" id="find_user" name="find_user" value="{{find_user}}"
          placeholder="search user" class="form-control me-1" style="width: auto;">
        <button type="button" class="btn btn-sm btn-primary me-1" onclick="findUser()">Search</button>
        <button type="button" class="btn btn-sm btn-secondary" onclick="resetTable()">Clear</button>
    </div>
    <table class="table table-stripped table-sm" id="resultUserTable" hidden>
      <thead>
        <tr>
          <th>Name</th>
          <th>College</th>
          <th>Course</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    
    <table class="table table-stripped table-sm" id="messagesTable">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <!-- Send Initial Message Modal -->
    <div class="modal fade" id="initMessageModal" tabindex="-1" aria-labelledby="initMessageModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-header">
            <h5 class="modal-title" id="initMessageModalLabel">
              Send message
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="justify-content-center">
              <div class="form-group mt-3">
                <label for="recipient" class="form-label">Recipient:</label>
                <input type="email" id="recipient" name="recipient" class="form-control">
              </div>
              <div class="form-group mt-3">
                <label for="initMessage" class="form-label">Message:</label>
                <textarea type="text" id="initMessage" name="initMessage" cols="40" rows="10" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="send_init_message" class="btn btn-primary" 
              data-send-init-message-url="{% url 'main_app:send-init-message' %}">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Conversation Modal -->
    <div class="modal fade" id="conversationModal" tabindex="-1" aria-labelledby="conversationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-header">
            <h5 class="modal-title" id="conversationModalLabel">
              Conversation with <span id="convoWith"></span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="justify-content-center">
              <div class="form-group mt-3">
                <input type="text" id="roomId" name="roomId" hidden>
                <input type="email" id="receiverEmail" name="receiverEmail" hidden>
                <div id="chatContainer"></div>
                <textarea type="text" id="new_message" name="new_message" cols="40" rows="3" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="send_new_message_btn" class="btn btn-primary" 
              data-send-new-message-url="main_app:send-new-message">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <div id="violation" hidden>
    <table class="table">
      <head>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Description</th>
          <th>Date/Time</th>
          <th>Status</th>
        </tr>
      </head>
      <tbody>
        {% for violation in violations %}
        <tr>
          <td>{{ violation.user.get_full_name }}</td>
          <td>
            <i class="fa-solid fa-circle shadow shadow
            {% if violation.level == 'minor' %}
            level level-minor
            {% elif violation.level == 'moderate' %}
            level level-moderate
            {% elif violation.level == 'major' %}
            level level-major
            {% endif %}"></i>
          </td>
          <td>{{ violation.reason }}</td>
          <td>{{ violation.timestamp }}</td>
          <td><span class="badge text-bg-danger shadow">{{ violation.status }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
  const roomId = $("#roomId").val();
  const senderId = "{{ request.user.id }}"; 
  const currentUserId = "{{ request.user.id }}";

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomId + "/"
  );

  chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const chatContainer = $("#chatContainer");

    if (data.sender == senderId) {
      chatContainer.append(`<div class="message sender">${data.message}</div>`);
    } else {
      chatContainer.append(`<div class="message receiver">${data.message}</div>`);
    }

    chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
  };

  let email = null;

  function findUser() {
    const query = $("#find_user").val();
    
    if (query !== "") {
      $("#messagesTable").prop("hidden",true);
      $.ajax({
          url: "/ajax/find-user",
          method: "GET",
          data: { find_user: query },
          success: function(data) {
              const tableBody = $("#resultUserTable tbody");
              tableBody.empty(); // clear old results
              $("#resultUserTable").prop("hidden",false); // unhide user table

              $.each(data.result, function(index, user) {
                  let row = `<tr>
                      <td>${user.first_name} ${user.last_name}</td>
                      <td>${user.profile__college__name}</td>
                      <td>${user.profile__course}</td>
                      <td id="email_address">${user.email}</td>
                      <td><button type="button" id="send_chat" onclick="sendInitMessage()" class="btn btn-sm btn-outline-info">Send a message</button></td>
                  </tr>`;
                  tableBody.append(row);
                  email = user.email;
              });
          }
      });
    }
  }

  function loadMessages() {
    const messagesBody = $("#messagesTable tbody");
    $.ajax({
      url: "/ajax/load-messages",
      method: "GET",
      success: function (data) {
        messagesBody.empty();

        // Track unique recipients
        let seenRecipients = new Set();

        $.each(data.result, function (index, room) {
          if (!seenRecipients.has(room.receiver.id)) {
            seenRecipients.add(room.receiver.id);

            if (currentUserId == room.receiver.id) {
              let row = `<tr class="messagesItem" 
                          data-receiver-id="${room.receiver.id}" data-sender-id=${room.initiator.id} data-room-id=${room.id}
                          data-receiver-email=${room.receiver.email}
                          data-receiver-fname=${room.receiver.first_name} data-receiver-lname=${room.receiver.last_name}
                          data-initiator-fname=${room.initiator.first_name} data-initiator-lname=${room.initiator.last_name}>
                  <td>${room.initiator.first_name} ${room.initiator.last_name}</td>
              </tr>`;
              console.log("chat status:", room.chats.status);
              if (room.chats.some(chat => chat.status === "sent")) {
                row = $(row).addClass("text-primary");
              }
  
              messagesBody.append(row);
            } else if (currentUserId == room.initiator.id) {
              let row = `<tr class="messagesItem" 
                          data-receiver-id="${room.initiator.id}" data-sender-id=${room.receiver.id} data-room-id=${room.id}
                          data-receiver-email=${room.receiver.email}
                          data-receiver-fname=${room.receiver.first_name} data-receiver-lname=${room.receiver.last_name}
                          data-initiator-fname=${room.initiator.first_name} data-initiator-lname=${room.initiator.last_name}>
                  <td>${room.receiver.first_name} ${room.receiver.last_name}</td>
              </tr>`;
              console.log("chat status:", room.chats.status);
              if (room.chats.some(chat => chat.status === "sent")) {
                row = $(row).addClass("text-primary");
              }
  
              messagesBody.append(row);
            }
          }
        });
      },
    });
  }
  
  function loadConversation(roomId) {
    const chatContainer = $("#chatContainer");
    
    $.ajax({
      url: `/ajax/load-conversation/${roomId}`,
      method: "GET",
      success: function(data) {
        chatContainer.empty();
        
        $.each(data.result, function(index, msg) {
          if (currentUserId == msg.sender__id || currentUserId == msg.recipient__id) {
            if (currentUserId == msg.sender__id) {
              chatContainer.append(`<div class="message sender">
                <span style="font-size: small;">You</span><br>
                ${msg.message}</div>`);
            } else {
              chatContainer.append(`<div class="message receiver">
                <span style="font-size: small;">${msg.sender__first_name}</span><br>
                ${msg.message}</div>`);
            }
          } 
        });

        // Scroll to bottom after loading
        chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
      }
    });
  }


  function resetTable() {
    $("#find_user").val(""); 
    const tableBody = $("#resultUserTable tbody");
    tableBody.empty();
    $("#resultUserTable").prop("hidden",true); // hide user table
    $("#messagesTable").prop("hidden",false); // unhide chat table
  }
  
  function resetInitMessageForm() {
    $("#recipient").val(""); 
    $("#initMessage").val(""); 
  }

  function sendInitMessage() {
    $("#initMessageModal").modal("show");
    $("#recipient").val(email).prop("disabled",true);
  }

  function changeMessageStatus(roomId) {
    $.ajax({
      url: "/ajax/change-message-status/",
      method: "POST",
      data: { room_id: roomId },
      success: function (data) {
        console.log("Message status updated");
      },
      error: function (xhr, status, error) {
        console.error("Error updating message status:", error);
      }
    });
  }

  $("#user-activities-container").on("load", function() {
    alert("Hello");
  });

  $(document).ready(function () {
    const $history = $("#history");
    const $chat = $("#chat");
    const $violation = $("#violation");
    const $tabHistory = $("#tabHistory");
    const $tabChat = $("#tabChat");
    const $tab = $(".nav-link");
    const $tabViolation = $("#tabViolation");
    const $suspendButton = $(".suspend-button");
    const $findUserInput = $("#find_user");
    const $findUserBtn = $("#find_user_btn");
    const $suspendButtonSubmit = $("#suspend-button-submit");
    const suspendUrl = $("#suspend-button-submit").data("suspend-url");
    const $sendMessageBtn = $("#send_new_message");
    const $userRole = $("#user-activities-container").data("user-role");
    
    if ($userRole == "student") {
      $history.prop("hidden", true);
      $chat.prop("hidden", false);
      $tabChat.addClass("active");
      loadMessages();
    }

    $tabHistory.on("click", function() {
      $history.prop("hidden", false);
      $(this).addClass("active");
      $tabChat.removeClass("active");
      $chat.prop("hidden", true);
      $tabViolation.removeClass("active");
      $violation.prop("hidden", true);
    });
    
    $tabChat.on("click", function() {
      let currentUser = $(this).data("current-user");
      $chat.prop("hidden", false);
      $(this).addClass("active");
      $tabHistory.removeClass("active");
      $history.prop("hidden", true);
      $tabViolation.removeClass("active");
      $violation.prop("hidden", true);
      loadMessages();
    });
    
    $tabViolation.on("click", function() {
      $violation.prop("hidden", false);
      $(this).addClass("active");
      $tabHistory.removeClass("active");
      $history.prop("hidden", true);
      $tabChat.removeClass("active");
      $chat.prop("hidden", true);
    });

    $("#suspend-button-submit").click(function () {
        let level = $("#violation-level").val();
        let reason = $("#reason-input").val();
        if (reason == null) {
            alert("Please enter the reason.");
            return;
        }

        $.ajax({
            url: suspendUrl,
            type: "POST",
            data: {
                level: level,
                reason: reason
            },
            success: function (response) {
                $("#violationModal").modal("hide");
            },
            error: function (xhr) {
                alert("Error: " + xhr.responseText);
            }
        });
    });

    const sendInitMessageUrl = $("#send_init_message").data("send-init-message-url");

    // Send initial message
    $("#send_init_message").click(function () {
      let recipient = $("#recipient").val();
      let initMessage = $("#initMessage").val();
      if (initMessage == "") {
          alert("Message cannot be empty.");
          return;
      }

      $.ajax({
          url: sendInitMessageUrl,
          type: "POST",
          data: {
              recipient: recipient,
              message: initMessage,
          },
          success: function (response) {
              $("#initMessageModal").modal("hide");
              resetTable();
              resetInitMessageForm();
              loadMessages();
          },
          error: function (xhr) {
              alert("Error: " + xhr.responseText);
          }
      });

    });

    // Send new message or conversation
    $("#send_new_message_btn").click(function () {
      let newMessage = $("#new_message").val();
      let roomId = $("#roomId").val();
      let completeUrl = `/ajax/send-new-message/${roomId}/`;
      let senderId = "{{ request.user.id }}";   // current logged in user
      let receiverId = $("#receiverId").val();

      if (!newMessage) return;

      if (chatSocket.readyState === WebSocket.OPEN) {
        chatSocket.send(JSON.stringify({
          "message": newMessage,
          "sender": senderId
        }));
        $("#new_message").val("");
      } else {
        console.error("WebSocket is not open. ReadyState:", chatSocket.readyState);
      }

      $.ajax({
        url: completeUrl,
        type: "POST",
        data: {
          recipient: receiverId,
          message: newMessage
        },
        success: function (response) {
          // ✅ append directly to chatContainer
          const chatContainer = $("#chatContainer");
          chatContainer.append(`<div class="message sender">
            <span style="font-size: small;">You</span><br>
            ${newMessage}</div>`);

          // ✅ scroll to bottom
          chatContainer.scrollTop(chatContainer.prop("scrollHeight"));

          // clear input
          $("#new_message").val("");
        },
        error: function (xhr) {
          alert("Error: " + xhr.responseText);
        }
      });

    });



    // Event delegation (works for dynamically added rows)
    $(document).on("click", ".messagesItem", function () {
        var roomId = $(this).data('room-id');
        var receiverEmail = $(this).data('receiver-email');
        var receiverFirstname = $(this).data("receiver-fname");
        var receiverLastname = $(this).data("receiver-lname");
        var initiatorFirstname = $(this).data("initiator-fname");
        var initiatorLastname = $(this).data("initiator-lname");
        $("#receiverEmail").val(receiverEmail);
        $("#roomId").val(roomId);
        if ("{{ request.user.email }}" === receiverEmail) {
          $("#convoWith").text(initiatorFirstname+' '+initiatorLastname);
        } else {
          $("#convoWith").text(receiverFirstname+' '+receiverLastname);
        }
        $("#conversationModal").modal("show");
        loadConversation(roomId);
        changeMessageStatus(roomId);
    });

  });
</script>
{% endblock %}